*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container .catogray-cont,.products,.product-cat{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
    text-align: center;
}
.category{
    width:20%;
    background-color: azure;
    box-shadow: 10px 5px 5px  rgb(234, 230, 230);
}
h2{
    text-align: center;
    padding:20px;
}
.card{
    box-shadow: 5px 5px 5px  rgb(234, 230, 230);
}
